---
Checks:
  "*,
  -llvmlibc-*,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -modernize-use-std-print,
  -modernize-use-trailing-return-type,
  -misc-use-internal-linkage,
  -altera-unroll-loops,
  -cert-err33-c,
  -fuchsia-default-arguments-calls,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay"

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 45

  - key: misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value: true

  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: true
...
