---
Checks: "*,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -misc-use-internal-linkage,
  -fuchsia-default-arguments-calls,
  -fuchsia-statically-constructed-objects,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-std-print,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -altera-unroll-loops,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay"

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 45

  - key: misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value: true

  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: true
...
